<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" type="text/css" href="/assets/stylesheets/style.css">
	
	<script type="text/javascript" src="js/script.js"></script>

	<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>

</head>

<body>

	<h1>PitchIt</h1>
	<div id = "submit-form">
		<div class="submission-box"><input id = "pitchtitle" placeholder="TITLE"></div>
		<div class="submission-box"><textarea id = "pitchbody"placeholder=" DESCRIPTION"></textarea>
		<br><button type="button">SUBMIT</button>
	
	</div>

	</div>

	<div class="table">
            <div class="row"><div class="row-title">
            	<img class= "heart" src="/assets/images/blackheart.png">
            	<img class="otherheart" src="/assets/images/pinkheart.png"> <div class="number">42</div>DODGEBALL TOURNAMENT</div></div> 


            <div class="row"><div class="row-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div></div>
    </div>

    <div class="table">
            <div class="row"><div class="row-title"><img class= "heart" src="/assets/images/blackheart.png"><img class="otherheart" src="/assets/images/pinkheart.png"> LET'S GO GET GREEN BUBBLE</div></div>
            <div class="row"><div class="row-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div></div>
    </div>

    	<div class="table">
            <div class="row"><div class="row-title"><img class= "heart" src="/assets/images/blackheart.png"><img class="otherheart" src="/assets/images/pinkheart.png"> KEGERNATOR</div></div>
            <div class="row"><div class="row-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div></div>
    </div>

    	<div class="table">
            <div class="row"><div class="row-title"><img class= "heart" src="/assets/images/blackheart.png"><img class="otherheart" src="/assets/images/pinkheart.png"> VOLUNTEER DAY!</div></div>
            <div class="row"><div class="row-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div></div>
    </div>

    	<h2>Pitch It with a 'P'. Made with love, sweat, and boba by Team Chocolate.</h2>


    <script>
	$( ".row" )
	  .filter( ":odd" )
	    .hide()
	  .end()
	  .filter( ":even" )
	    .hover(function() {
	      $( this )
	        .toggleClass( "active" )
	        .next()
	          .stop( true, true )
	          .slideToggle();
	    });

	  $( ".otherheart").hide();
	  $ (" .number").hide();


	$( ".heart" ).click(function() {
	  $( ".heart").hide();
	  $(".otherheart").show();
	  $(".number").show();

	});

	$( ".otherheart" ).click(function() {
	  $( ".otherheart").hide();
	  $(".heart").show();
	  $(".number").hide();

	});

	$("button").click(function() {
		submit_pitch();
	});

	function submit_pitch(){
		var textdescription = document.getElementById("pitchbody").value;
		var texttitle = document.getElementById("pitchtitle").value;
		json_request('/pitches/post', 
					 {'title': texttitle, 'description':textdescription }, 
					 function(data) {},
					 function(xhr, status, error) {}
					)
	 };

	 function json_request(page, dict, success, failure) {
	  $.ajax({
	    type: 'POST',
	    url: page,
	    data: JSON.stringify(dict),
	    contentType: "application/json",
	    dataType: "json",
	    success: success,
	    error: failure
	  });
	}


	</script>

</body>
</html>